/*
avaliable 
platforms
*/
.window-plat {
    background-image: url(../editorial/window-os.png);
}
.playstation-plat {
    background-image: url(../editorial/playstation.png);
}
.xbox-plat {
    background-image: url(../editorial/xbox.png);
}
.mac-plat {
    background-image: url(../editorial/mac-os.png);
}
.android-plat {
    background-image: url(../editorial/andriod.png);
}
.ios-plat {
    background-image: url(../editorial/ios.png);
}
.switch-plat {
    background-image: url(../editorial/switch.png);
}

.platform {
    display: inline-block;
    height: 20px;
    width: 20px;
}
.av {
    margin-right: 10px;
}