/* 
This is the body duh
*/
body {
    background-color: #050629;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/*the strat of a body*/

#whole-div-container {
    min-width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 60px;
    background-image: url(editorial/footer_bg_gray.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #1C1D42;
    box-shadow: 0 5px 10px 0 black;
}
#bg {
    background-image: url(editorial/);
    background-position: bottom;
    padding-bottom: 30px;
    background-repeat: no-repeat;
}
.center-container {
    width: 80%;
    margin: auto;
    max-width: 460px;
    
}
#winner-img-container > img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
#winner-img-container {
    border-image: linear-gradient(45deg ,#f6b73c, #ffffff) 10;
    border-width: 10px;
    margin: 0;
    padding: 0;
    border-style: solid;
}
.winner-caption {
    text-align: center;
    margin: auto;
    padding-top: 20px;
    font-size: xx-large;
}
.header-contain-title {
    font-size: 80px;
    width: 80%;
    margin: auto;
}
/*Individual Nominations*/
.nomination-flex {
    display: flex;
    margin: auto;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 750px;
}
.individual-nomination {
    width: 300px;
    padding: 10px 5px;
    margin: 20px 10px;
    border-radius: 10px;
}
.image-wraper {
    border-radius: 10px;
}
.image-wraper > img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 20px;
}
.name-caption {
    padding-top: 10px;
    font-size: large;
    text-align: center;
}