/* 
This is the body duh
*/
body {
    background-color: #050629;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-image: url(editorial/bruh.svg);
    background-blend-mode:luminosity;
}   
html, body {
    margin: 0;
    padding: 0;
}

/* 
This is the slider image content
*/

.wholeslider-wrap {
    width: 80%;
    position: relative;
    margin: auto;
    margin-bottom: 30px;
    max-width: 940px;
}
.flex {
    display: flex;
    width: 100%;
    
    height: 100%;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}
.container {
    position: relative;
    display: block;
    width: 450px;
    height: auto;
    margin-top: 80px;
}
.container > p {
    font-size: large;
}
.mySlides {
    display: none;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.mySlides > img {
    width: 100%;
    min-height: 250px;
    object-fit: cover;
}
.mySlides > img:hover, .container:hover {
    border-radius: 0;
    transition: 1s ease;
}
.caption {
    visibility: hidden;
    position: absolute;
    display: flex;
    transition: 0.1s ease;
    background-image: linear-gradient(rgba(0,0,0,0), black);
    width: 100%;
    height: 100%;
    bottom: 0%;
    display: flex;
    justify-content: space-around;
    align-items: last baseline;
    border-radius: 10px;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
}
.caption > div > img {
    height: 1em;
    width: auto;
}
.type {
    color: rgb(152, 152, 152);
    font-size: small;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 40px 20px;
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.25s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(187, 187, 187, 0.3));
}
.next {
    right: -50px;
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0), rgba(187, 187, 187, 0.3));
}
.prev {
    left: -50px
}
.next:hover, .prev:hover {
    background-color: rgba(187, 187, 187, 0.3);
    border-radius: 5px;
}
.dot {
    cursor: pointer;
    height: 5px;
    width: 15px;
    margin: 0 2px;
    background-color: #717171;
    border-radius: 3px;
    display: inline-block;
    transition: background-color 0.6s ease;
    user-select: none;
}
  
.active, .dot:hover {
    background-color: lightblue;
}
.mySlides {
    animation-name: fade;
    animation-duration: 1;
    animation-timing-function: ease-in-out;
}
@keyframes fade {
    from {opacity: .1;}
    to {opacity: 1;}
}

/*
Black Box Section
*/
.blackbox {
    width: 40vw;
    background-image: linear-gradient(-45deg, rgba(252, 252, 252, 0), #555bc070);
    background-color: #060833;
    height: auto;
    margin-top: 140px;
    user-select: none;
    margin-bottom: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 10px;
    padding-top: 10px;
}
.bb-title {
    font-size: large;
}
.bb-name {
    font-size: xx-large;
    padding-bottom: 10px;
}
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
td > div {
    margin: 5px;
    font-size: small;
    overflow: hidden;
}
.rate1, .rate2, .rate3 {
    border: #313475 solid 1px;
    padding: 0;
    text-align: center;
}
.bb-tag-contain > span{
    background-color: #171DC2;
    border-radius: 4px;
    position: relative;
    padding: 3px;
    margin-top: 3px;
    display: inline-block;
    white-space: nowrap;
    font-size: small;
}
.bb-tag-contain {
    padding: 5px 0;
}
.bb-tag-contain > div, .av {
    font-size: small;
}
.slide-moreinfo {
    padding: 5px 10px;
    margin: 5px 0;
    overflow: hidden;
}
.available-platform {
    display: flex;
    margin: auto;
    align-items:center;
    justify-content: flex-start;
}

/* 
More Content section
*/
#bbg {
    width: 100vw;
    position: absolute;
    z-index: 1;
    opacity: 0.5;
}
.below-container {
    width: 100%;
    margin: auto;
    padding: 50px 0;
}
.part-heading {
    padding-left: 10vw;
    font-size: 30px;
    padding-top: 30px;
    position: relative;
}
#more-sec {
    background-color: #0a335a;
    position: relative;
    overflow: hidden;
}
.bcontainer-wrapper {
    width: 80%;
    padding-bottom: 30px;
    min-width: 1040px;
    margin: 0 auto;
    overflow: visible;
}
.below-container-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.seemore-container {
    justify-content: space-around;
    flex-wrap: wrap;
}
.individual-content {
    width: 200px;
    z-index: 2;
    height: auto;
    cursor: pointer;
    background-color: #21234e;
    margin: 15px 20px;
    transition: 0.25s ease-in-out;
    box-shadow: 0 0 10px 3px black ;
    user-select: none;
}
.individual-content:hover {
    transform: scale(1.05);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0), #4586e0be);

}
.individual-content > img {
    width: 100%;
    aspect-ratio: 16/9;
    min-height: 112px;
    object-fit: cover;
}
.under-cap {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 2% 5%;
}
.cap-wrapper > div {
    display: flex;
    font-size: small;
    flex-wrap: nowrap;
}
.cap-wrapper {
    display: flex;
    min-width: 0;
    flex-direction: column;
    margin: auto 0;
    text-overflow: clip;
    flex-wrap: wrap;
}
.individual-content > .type{
    padding-left: 10%;
}
.individual-content > div  p {
    width: inherit;
    font-size: smaller;
    border: 0;
    margin: 0;
    padding-top: 2px;
}
.icon {
    height: 1em;
    padding-right: 3px;
}
.type {
    padding-bottom: 5px;
}
#moreBtn {
    font-size: 20px;
    position: absolute;
    border: 0;
    background-image: linear-gradient(180deg, #125ea5, rgba(255, 255, 255, 0));
    padding: 10px 20px;
    cursor:pointer;
    top: 100%;
    left: 70%;
    color: white;
    background-color: rgba(39, 85, 251, 0.711);
}
.up-z {
    z-index: 6;
}
/*catagory*/
.tag-flex-c {
    display: flex;
    justify-content: center;
    width: 80%;
    max-width: 1000px;
    flex-wrap: wrap;
    gap: 0;
    margin: auto;
}
.indv-catagories {
    background-image: linear-gradient(180deg, #00000017, rgba(255, 255, 255, 0.3));
    border-radius: 10px;
    width: 200px;
    color: white;
    text-decoration: none;
    border: 0;
    height: 125px;
    text-align: center;
    margin: 0 0.5rem;
    transition: 0.5s ease-in;
}
.indv-catagories:hover {
    transform: scale(1.05);
    background-image: linear-gradient(180deg, #00000017, rgba(18, 18, 18, 0.45));
}
.indv-catagories p {
    padding: 50px 0;
}
/* 
Sign up button
*/
.sign-up-container {
    width: 60%;
    margin: 50px auto;
    background-color: #171DC2;
    text-align: center;
    border-radius: 20px;
}
.sign-up-container div {
    text-overflow: ellipsis;
    text-wrap: nowrap;
    padding: 30px 0 ;
    margin: auto;
    overflow: hidden;
    
}
.SignInBTN {
    display: block;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #4CAF50; /* Green */
    border: 2px solid rgb(57, 57, 57);
    color: wheat;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
.SignInBTN:hover {
    background-color: #65ea69;
    cursor: pointer;
}
/*
Footer section
*/
.foot {
    width: 90%;
    line-height: 1.5rem;
    align-items: center;
    margin: auto;
}
footer {
    padding: 50px 0;
    width: 100%;
    background-color: rgb(30, 30, 30);
}
#text {
    text-overflow: ellipsis;
    text-wrap: nowrap;
    font-size: small;
    overflow: hidden;
}
.foot a {
    margin: 0 30px;
    border-bottom: 1px solid gray;
    color: inherit;
    text-decoration: none;
}
.Social {
    display: block;
}
.focus:hover,
.focus:focus {
    cursor: pointer;
    transform: scale(0.95);
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(170deg) brightness(104%) contrast(97%);
}

@media screen and (max-width: 750px) {
    .blackbox {
        display: none;
    }
    .individual-content {
        width: 90%;
        margin: 20px auto;
    }
    .individual-content > img {
        min-height: 200px;
        width: 100%;
    }
    .wholeslider-wrap {
        width: 90%;
    }
    .next {
        right: 0px;
    }
    .prev {
        left: 0px
    }
    .bcontainer-wrapper {
        min-width: 20px;
    }
    .tag-flex-c {
        width: 100%;
    }
    .sign-up-container {
        width: 90%;
    }
}
