/* 
This is the body duh
*/
body {
    background-color: #050629;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
/* 
Navigation that is fixed to the view port
*/
#navigation-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: large;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    margin-bottom: 20px;
    padding: 20px;
    z-index: 1;
}
#navigation-flex > div {
    white-space: nowrap;
    overflow: hidden;
}
#navigation-flex > div:hover {
    box-shadow: 0 3px white;
}
/* 
This is the slider image content
*/
.flex {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
}
.container {
    position: relative;
    display: block;
    width: 450px;
    height: auto;
    margin-top: 80px;
}
.container > p {
    font-size: large;
}
.mySlides {
    display: none;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.mySlides > img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.mySlides > img:hover, .container:hover {
    border-radius: 0;
    transition: 1s ease;
}
.caption {
    visibility: hidden;
    position: absolute;
    display: flex;
    transition: 0.1s ease;
    background-image: linear-gradient(rgba(0,0,0,0), black);
    width: 100%;
    height: 100%;
    bottom: 0%;
    display: flex;
    justify-content: space-around;
    align-items: last baseline;
    border-radius: 10px;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
}
.caption > div > img {
    height: 1em;
    width: auto;
}
.type {
    color: rgb(152, 152, 152);
    font-size: small;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 10px;
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}
.next {
    right: 0;
}
.next:hover, .prev:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.dot {
    cursor: pointer;
    height: 5px;
    width: 15px;
    margin: 0 2px;
    background-color: #717171;
    border-radius: 3px;
    display: inline-block;
    transition: background-color 0.6s ease;
    user-select: none;
}
  
.active, .dot:hover {
    background-color: lightblue;
}
.mySlides {
    animation-name: fade;
    animation-duration: 1;
    animation-timing-function: ease-in-out;
}
@keyframes fade {
    from {opacity: .1;}
    to {opacity: 1;}
}
/* 
More Content section
*/
.below-container {
    width: 80%;
    margin: auto;
}
.below-container-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.individual-content {
    width: 200px;
    height: auto;
    cursor: pointer;
    background-color: #313475;
    margin: 10px 5px;
    transition: 0.25s ease-in-out;
    box-shadow: 0 0 10px 3px black ;
    user-select: none;
}
.individual-content:hover {
    transform: scale(1.05);
}
.individual-content > img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}
.under-cap {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}
.under-cap > div {
    flex-wrap: wrap;
    display: flex;
}
.individual-content > .type > p {
    padding-left: 20px;
}
.individual-content > div  p {
    font-size: smaller;
    border: 0;
    width: max-content;
    margin: 0;
    padding-top: 2px;
}
.icon {
    height: 1em;
    padding-right: 3px;
}
.type {
    padding-bottom: 5px;
}

/*
Footer section
*/

.foot {
    width: 100%;
    height: 50px;
    background-color: gray;
    display: flex;
    align-items: center;
}
#text {
    font-size: x-small;
}